.right-content {
    background-color: #f0f3f4;
    height: 100%;
}
.right-content > .banner {
    background-color: white;
    height: 30px;
    line-height:30px;
    color: black;
    padding-top: 2px;
    padding-right: 50px;
}
.right-content > .content {
    margin-left: 10px;
    margin-top: 10px;
}
.right-content > .breadcrumb-my {
    text-align: left;
}
.dropdown > span .collapsed .glyphicon-chevron-right:before {
    content: "\e080";
}
.dropdown > span .glyphicon-chevron-right:before {
    content: "\e114";
}